<div>

  <div class='new-note-container'>
    <div class="input-group" [formGroup]='newNoteForm'>
      <div class="input-group-prepend">
        <button (click)="postNote()" class="btn btn-dark">Submit</button>
      </div>
        <input type='text' placeholder="Write a note" class="form-control col-sm-10" formControlName='content' />
        <input type="date" class='form-control col-sm-2' formControlName='date' />
    </div>
  </div>

  <div class='col-sm-12' *ngIf="addedNotes.length">
    <div *ngFor="let note of addedNotes">
      <app-note (destroySentinel)="deleteNote(note.id)" [note]="note"></app-note>
    </div>
  </div>

</div>
